<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/css/css.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
</head>
<body>
    <!-- <div id="div1">
        <img src="{%static 'img/logo.png' %}" id="logo">
    </div> -->
    <div class="container"  id="div1">
        <img src="{%static 'img/logo.png' %}" id="logo" width="10%">
        <h1 id="txt1">DJANGO SHOP</h1>
      </div>
    <div class="container" id="divbtn">
        <button type="button" id="btn1" class="btn btn-info" onclick="location.href='a'">Electrónica</button>
        <button type="button" id="btn2" class="btn btn-success" onclick="location.href='a1'">Juguetes</button>
        <button type="button" id="btn3" class="btn btn-warning" onclick="location.href='a2'">Ropa</button>
    </div>
    
</body>
</html>