#logo{
    display: inline;
    width: 260px;
    margin-top: -25px;
}
#txt1{
    display: inline;
    font-size: 100px;
}
#div1{
    margin-top: 40px;
    background-color: #ccf4fc;
    height: 150px;
    border-radius: 8px;
}
#divbtn{
    text-align: center;
}
#btn1,#btn2,#btn3{
    width: 380px;
    height: 90px;
    margin-top: 15px;
    font-size: 30px;
}
#btn1{
    margin-left: -10px;
}
#btn2,#btn3{
    margin-left: 77px;
}
#name{
    font-size: 90px;
    
}
#div2{
    background-color: darkgray;
    border-radius: 8px;
    height: 140px;
}
#u{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background-color: blue;
}
.divP{
    background-color: green;
    width: 16%;
    border-radius: 8px;
    display: inline-block;
    padding: 40px
}