#logo{
    display: inline;
    width: 260px;
    margin-top: -25px;
}
#txt1{
    display: inline;
    font-size: 100px;
}
#div1{
    margin-top: 40px;
    background-color: #ccf4fc;
    height: 150px;
    border-radius: 8px;
}
#divbtn{
    text-align: center;
}
#btn1,#btn2,#btn3{
    width: 380px;
    height: 90px;
    margin-top: 15px;
    font-size: 30px;
}
#btn1{
    margin-left: -10px;
}
#btn2,#btn3{
    margin-left: 77px;
}
#name{
    font-size: 90px;
    
}
#div2{
    background-color: darkgray;
    border-radius: 8px;
    height: 140px;
}
#u{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    color: aliceblue;
    font-size: 20px;
}
.divP{
    background-color: green;
    width: 30%;
    border-radius: 8px;
    display: inline-block;
    padding: 40px;
    text-align: center;
    height: 300px;
    
}
#back{
    margin-left: 380px;
    width: 80px;
}

#iphone{
    margin-top: -20px;
}

#ps5{
    width: 300px;
}
#auto{
    width: 250px;
}
#pelota{
    width: 150px;
}
#figura{
    width: 150px;
}
#pantalones{
    width: 150px;
}
#chaqueta{
    width: 40%;
}
#camisa{
    width: 60%;
}